body{
        background:rgb(155, 155, 155);

        span{
        color: ;
        text-align: center;
        }
        .rojo{
        color: rgb(143, 29, 29);
        text-align: center;
        }
        .azul{
            
        }
}